* {
    padding: 0;
    margin: 0;
  }
  a:link{
    text-decoration: none;
  }
  a:visited{
    text-decoration:none;
  }
  a:hover{
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
  
  body {
    background-color: #282D3C;
    font-family: Helvetica, Arial, sans-serif;
  }
  .body{
    font-family: Arial, Helvetica, sans-serif;
  }
  /*
  
    */
    html, body{
      /*width: 100%;*/
    }
  
  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
     border: 1px solid black; 
    /*  */
  }
  
 
  
  h1 {
    color: #dfe0e3;
    text-shadow: 2px 2px 2px #5B5D70,0 0 5px #74838C;
    
    font-size: 3rem;
    text-align: center;
  }
  
  h2 {
    /*font-family: "Futura Press", Helvetica, Arial, sans-serif;*/
    font-family:"Roboto", sans-serif;
    color: #dfe0e3;
    text-shadow: 2px 2px 2px #5B5D70,0 0 5px #74838C;

    font-size: 2.5rem;
    text-align: center;
  }
  
  h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #dfe0e3;
    text-shadow: 2px 2px 5px #5B5D70,0 0 10px #74838C;

    text-align: right;
    margin-top: -2.5rem;
  }
  
  h3 a:link,
  a:visited {
    color: #FFC4B8;
    text-decoration: none;
  }
  
  h4 a:hover {
    color: #74838C;
  }
  h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #dfe0e3;
    text-shadow: 2px 2px 5px #5B5D70,0 0 10px #74838C;

    text-align: left;
    margin-top: -2.5rem;
  }
  
  h4 a:link,
  a:visited {
    color: #FFC4B8;
    text-decoration: none;
  }
  
  h4 a:hover {
    color: #74838C;
  }
  h2 a:link,
  a:visited {
    color: #FFC4B8;
    text-decoration: none;
  }
  
  h2 a:hover {
    color: #74838C;
  }
  h1 a:link,
  a:visited {
    color: #FFC4B8;
    text-decoration: none;
  }
  
  h1 a:hover {
    color: #74838C;
  }

  